.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: start;
}

.charts-conatiner {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
